<%- include("partials/header.ejs") %>
<h2>About Me</h2>
<img class="profile-img" src="author.jpg"/>
<p>Imagine a web app that fuels your curiosity about computer science... Introducing The Curious Mind! Hi there, I'm
Manisha, a college student currently pursuing BTech in Computer
Science. I'm not just a student; I'm a passionate developer fueled by a desire to create engaging experiences. The
Curious Mind is my brainchild - a blog web application built using Node.js and Express.js. It's more than just code;
it's a testament to my web development skills and my dedication to crafting user experiences that ignite curiosity. This
project isn't just about showcasing my skills. I want The Curious Mind to be a platform that empowers you to explore the
fascinating world of computer science. Whether you're a fellow student or simply curious, let's embark on this journey
of discovery together!</p>
<%- include("partials/footer.ejs") %>